language: node_js
node_js:
  - "10"
env:
  global:
  # AWS_ACCESS_KEY_ID
  - secure: "alCrfLENjVqhZi3Zq1FPAw9oGJCyV+gxIVcHHp8c9tNahWfnSpjkfi0DhII+SEJG3OARL0RGqahSw6TpcAXEdpNpMCWHWnTun5vXHRQ1QaM4w7bqpi6l/QaPAioFa58q6t8AlQQ+ZiqQ3AxtPVcsF86wiSnpcMvtip1MSY+cnnldOnElBSRyZg8SkuiradamTQs1ab8CI+oeEcDE5y1Fa2dc3/wr5d6XAMzoDnbnwiRqFMZ9i8d8a+m1lKLKp1Q7GAb5ien2zvWse9HxNqEzXouqY822SwepPKsIyzo4jsmNTS8DF8V3OAP6qowosq1iGI0nOF1eKUY6fQAXUNLie4kMfT7JCA0NdLO1M+lElB4kpkglHaH/U0DRrZKtZkar/o+DCSNOmYDbAQDsN1hNmHsbnVDLbUgnVms2xpgvIryluY3+PDdkUqQW+g1cBhIHE5pfn7zVFw5EfE3TmiSUCyC5aobq+/39UTRFagPWolHTV/fFWMPwQxy8sQwSdMrns5s+hkn27BIrvGZOig16OVgcL/6KOIRY1rAWf697QX+j/hcf2e2f1LsVGcib/JEW/E1BVeLbmu0QHX+hWRXjN1rHL3kiqfDuezpJayXe24mIotmH5oyXUaMcMRYvBUStxi4rj4zvyLFv6GCMgxFZ8t5Cbzg4BIidK1P7jVKIDjk="
  # AWS_SECRET_ACCESS_KEY
  - secure: "LeRqNB2kTnnIcDiAVM/NJASp7llUYS/PI5wLFF4256IbfjaaIUC1r1MfiFbLYLps07EfSqt4rZefH4iC+RdEx2WtZXLxDPs6zZNnhv+hfiFodKpQxcSchsnBTORs7DofvkAZPtkSEmPERrw0gTEGPPHFIFy8lh4yekKRwxreRLrNuSULnBA51RmyT8CPxUBE/yO15XyUiIp8ZUcL9MqjYhuU7FOwl7C2MZsenoCIRH0vxv+CWa9Am2i78J/ZIdPmPoBtPCS5r0pDcNw9FBQyc15DfDweSDqmEUN5cwgbd5bScvARugwtw/HEUDBWxOp2MqQJBY9NsR7lzwq3YDNvdj9eyHgzYjjPpLns3PLGF9Sl9ZXN096VIS8u//UXvFUCkB2ZHgDqJUT9juJqg+Xk32lNLogDlQeHVbvSCU2mv/aDIGZwuwk1wzFWQbcSYv439dToBOpfN4avIfV0bWAZ4fgvcCCjJLjBj+BcCYzQ8OfrSk7QYGAp8CmDkBXqJYEn9oqpVRhd/qN8edf7Vr94t85mUEHWi8Z7zTGK3Sx+0d+yiTgkz7jp5QlrPwMiK9RQqvYblsa7XMIErjqRuuNcGd9D1qgLh6waYSl3QwYQaFcOV/3EsbB4Z2AuDBFEWVQZWKQXpXFM5LvtPGjnGjD9SA1bu2g6qBQXGeLEE9Wvr0c="

install:
  - pip install --user awscli
  - npm install

script:
  - vue-cli-service build

deploy:
  provider: script
  script: aws s3 sync dist s3://compleap-proto.testiopintopolku.fi/ --delete --region eu-west-1 --cache-control max-age=600
  skip_cleanup: true
  on:
    all_branches: true
