/* Compleap Prototype typography */

@font-face {
  font-family: 'urw_din';
  src: url('./assets/fonts/urw_-_urwdin-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/urw_-_urwdin-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'urw_din';
  src: url('./assets/fonts/urw_-_urwdin-bolditalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/urw_-_urwdin-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'urw_din';
  src: url('./assets/fonts/urw_-_urwdin-italic-webfont.woff2') format('woff2'),
       url('./assets/fonts/urw_-_urwdin-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'urw_din';
  src: url('./assets/fonts/urw_-_urwdin-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/urw_-_urwdin-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'urw_din';
  src: url('./assets/fonts/urw_-_urwdin-light-webfont.woff2') format('woff2'),
       url('./assets/fonts/urw_-_urwdin-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'urw_din';
  src: url('./assets/fonts/urw_-_urwdin-lightitalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/urw_-_urwdin-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  font-family: "urw_din", Arial, sans-serif; 
}

h3 {
  font-weight: 100 !important;
}