/* Compleap Prototype typography */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  font-family: "URW DIN", Arial, sans-serif; 
}

/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700'); */
